<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    @{
      Layout = "_Layout";
    }
    <h1>Details: </h1>

    <h2>Word: @Model.UserWord</h2>
    <h3>Sentence: @Model.UserSentence</h3>
    <h3>Times "@Model.UserWord" appears in "@Model.UserSentence": @Model.RepeatCount </h3>


    <a href='/words/new'>Add another word</a> <br>
    <a href='/words'>View all words</a>

  </body>
</html>
